<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HS01</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Front USB-C</string>
		<key>port</key>
		<integer>1</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS02</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>2</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS03</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (red, second from Ethernet)</string>
		<key>port</key>
		<integer>3</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS04</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (red, next to Ethernet)</string>
		<key>port</key>
		<integer>4</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS05</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (red, next to USB-C)</string>
		<key>port</key>
		<integer>5</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS06</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB-C</string>
		<key>port</key>
		<integer>6</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS07</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (yellow, next to HDMI)</string>
		<key>port</key>
		<integer>7</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS08</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (yellow, second from HDMI)</string>
		<key>port</key>
		<integer>8</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS09</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - DURGOD Taurus K320</string>
		</array>
		<key>name</key>
		<string>Front USB3</string>
		<key>port</key>
		<integer>9</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS10</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - USB Receiver</string>
		</array>
		<key>name</key>
		<string>Front USB3</string>
		<key>port</key>
		<integer>10</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS11</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - USB2.0 Hub</string>
		</array>
		<key>name</key>
		<string>Rear USB2 (all)</string>
		<key>port</key>
		<integer>11</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>HS12</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - ITE Device(8595)</string>
		</array>
		<key>name</key>
		<string>Internal USB2</string>
		<key>port</key>
		<integer>12</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>255</integer>
	</dict>
	<key>HS13</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - USB2.0 Hub</string>
			<string>        - USB2.0 Hub</string>
			<string>        - BRCM20702 Hub</string>
			<string>            - Bluetooth USB Host Controller</string>
			<string>        - USB2.0 Hub</string>
			<string>            - NZXT USB Device</string>
		</array>
		<key>name</key>
		<string>Internal USB2</string>
		<key>port</key>
		<integer>13</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>255</integer>
	</dict>
	<key>HS14</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Bluetooth/WIFI</string>
		<key>port</key>
		<integer>14</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>255</integer>
	</dict>
	<key>SS01</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Front USB-C</string>
		<key>port</key>
		<integer>15</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS02</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>5</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS03</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (red, second from Ethernet)</string>
		<key>port</key>
		<integer>6</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS04</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (red, next to Ethernet)</string>
		<key>port</key>
		<integer>7</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS05</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (red, next to USB-C)</string>
		<key>port</key>
		<integer>8</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS06</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB-C</string>
		<key>port</key>
		<integer>9</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS07</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (yellow, next to HDMI)</string>
		<key>port</key>
		<integer>10</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS08</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Rear USB3 (yellow, second from HDMI)</string>
		<key>port</key>
		<integer>11</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS09</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Front USB3</string>
		<key>port</key>
		<integer>12</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS10</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>name</key>
		<string>Front USB3</string>
		<key>port</key>
		<integer>13</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>USR1</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>14</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>USR2</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>15</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
